<?xml version="1.0" encoding="UTF-8"?>
<project>
  <node name="job01" description="job01 node." tags="job" 
    hostname="192.168.33.11" username="rundeck" 
    osFamily="unix" osName="Linux">
  </node>
  <node name="job02" description="job02 node." tags="job" 
    hostname="192.168.33.12" username="rundeck" 
    osFamily="unix" osName="Linux">
  </node>
</project>
